{% extends 'layout.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/core/index.css' %}">
{% endblock links %}
{% block body %}


<nav>
    <ul>
        <li><a href="{% url 'index' %}"><i class="fas fa-home"></i></a></li>
        <li><a href="{% url 'about' %}"><i class="fas fa-address-card"></i></a></li>
        <li><a href="{% url 'vote' %}"><i class="fas fa-users"></i></a></li>
        <li><a href="{% url 'result' %}"><i class="fas fa-newspaper"></i></a></li>
    </ul>
</nav>

<div class="container-fluid">
    
    <h1>Welcome to Advance Voting System Online</h1>
    <div>
        <p>
            This system is designed for the digital world countrys, who wants to be more digitalize. <br>
            If you want your country have to be more digitalize, then you should use this types of system. This types of
            movements will make peoples hasle free from standing in a huge line for giving a vote.<br>
            To learn more about this system visit : <a href="{% url 'about' %}">Why we need this ?</a>
        </p>
    </div>
</div>

{% endblock body %}
{% block scripts %}

{% endblock scripts %}